<form class="main-form col-8">
    <div class="row g-3">
        <div class="col-sm-7">
            <label for="name" class="form-label">Nom de la Baie</label>
            <select class="form-select" id="name">
                <option value="flash001">flash001</option>
                <option value="flash002">flash002</option>
                <option value="SSM001">SSM001</option>
                <option value="SSM002">SSM002</option>
            </select>        
        </div>
        <div class="col-sm">
          <label for="type" class="form-label">Type du volume</label>
            <select class="form-select" id="type">
                <option value="SAN">SAN</option>
                <option value="NAS">NAS</option>
            </select>
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>